<html ng-app="app">
    <head>
        <title>Ghost Text</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
        <style>
            td{
                font-size: 40px;
                color: red;
                font-weight: 900;
                font-family: Georgia, Times, 'Times New Roman', serif;
                text-align: center;
            }
        </style>
    </head>
    <body onload="k()">
    <!--<div ng-controller="myC">
        <input type="number" id="n1" ng-model="item.cost">
        <input type="number" ng-model="item.qty">
        <button type="button" onclick="k()">Generate Bill</button>
        <h2>Item Cost:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Quantity:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total</h2>
        <div ng-repeat="i in a ">
            {{i.cost | currency:'£'}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{i.qty }}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{i.amt | currency:'£'}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{i.date}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{i.time}}
        </div>
        
        </div>-->
        <!--<button type="button" onclick="k()">Generate Bill</button>-->
        
        <table align="center" style="margin-left: 400px; margin-top : 200px;">
            
        <td id="div"></td><td id="b"></td>
        </table>
        <script>
            function k(){
                   var s ="We Stand";
                   var i=0;
                   var j=0;
                   var k=0;
                   var p="| ";
                    var n=s.length;
                    var m=" Fight";
                    var t=m.length;
                    setInterval(function (){
                      
                    if(i<n){
                       //if(i<n)
                    
                    document.getElementById("div").innerHTML += s[i];
                    
                    
                    setInterval(function(){
                        if(j<m.length){
                        document.getElementById("b").innerHTML = p[k%2];
                        k++;
                        }
                        else{
                            document.getElementById("b").innerHTML = p[1];
                            return;
                        }
                    },200);
                    k=0;
                    
                    
                    //document.getElementById("div").innerHTML = s.slice(0,i);
                    i++;
                    }
                    else if(i>0){
                        if(n>=2){
                            var str=s.slice(0,n);
                            document.getElementById("div").innerHTML = str;
                        }
                            
                      else {
                          if(j<t){
                   document.getElementById("div").innerHTML += m[j];
                        
                      }
                       
                        j++;
                    }
                    /*else if(j>0){
                        if(n>=0){
                            var str=s.slice(0,t);
                            document.getElementById("div").innerHTML = str;
                        }
                            t--;
                        
                    }*/
                    n--;
                    }
                    //p=" ";
                    },100);
                    
                    
                   }
            //var a=new Array();
            //var d=new Date();
            //var app=angular.module("app",[]);
           /* app.controller("myC",function($scope){
                $scope.generate=function(item){
                   // alert("Your total pay is: ");
                   //setInterval(d.getTime(),1000);
                   
                   
                   
                
                   
                   var time=d.getHours()+":"+d.getMinutes()+":"+d.getSeconds();
                a.push({"cost":item.cost,"amt":item.cost*item.qty,"qty":item.qty,"date":d.getDay()+'/'+d.getMonth()+'/'+d.getFullYear(),time:time});
                }
                $scope.a=a;
                //display=function(amt){
                //  alert(amt);
               // }
            });*/

        </script>
    </body>

</html>